.wrapper {
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    display: flex;
    align-items: flex-start;
    color: inherit;
    text-decoration: none;
    transition: 0.4s ease background-color;
    border-radius: 7px;
}

.wrapper:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.content {
    margin-left: 16px;
}
