.wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 24px;
}

.logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 24px;
    position: relative;
    height: 48px;
    color: white;
    text-decoration: none;
}

.logoBg,
.logoBg2 {
    width: 50px;
    height: 70px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}

.logoBg {
    background: var(--rm-gradient-green);
    transform: rotate(-60deg);
}

.logoBg2 {
    background: var(--rm-gradient-blue);
    transform: rotate(40deg);
    mix-blend-mode: hard-light;
}

.text {
    font-weight: bold;
    transform: rotate(7deg);
    font-size: 24px;
}

.menu {
    display: inline-flex;
    align-items: center;
}

.link {
    margin-right: 16px;
    text-decoration: none;
    color: white;
}